<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>OrangeMoney-JSF</display-name>
 <context-param>
  <param-name>com.sun.faces.validateXml</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>com.sun.faces.verifyObjects</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.REFRESH_PERIOD</param-name>
  <param-value>2</param-value>
 </context-param>
 <context-param>
  <description>Suffixe par défaut de l'application (XHTML)</description>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <description>Skin RichFaces par defaut</description>
  <param-name>org.richfaces.SKIN</param-name>
  <param-value>blueSky</param-value>
 </context-param>
 <filter>
  <description>Filtre RichFaces pour les requêtes AJAX venant du Client</description>
  <display-name>RichFaces Filter</display-name>
  <filter-name>RichFacesFilter</filter-name>
  <filter-class>org.ajax4jsf.Filter</filter-class>
  <init-param>
   <description>Paramètre permettant de créer un Fichier temporaire lors de l'Upload de Fichier avec un rich:fileUpload</description>
   <param-name>createTempFiles</param-name>
   <param-value>true</param-value>
  </init-param>
 </filter>
 <filter>
  <description>UserInitializerFilter</description>
  <filter-name>UserInitializerFilter</filter-name>
  <filter-class>com.afb.dpd.orangemoney.jsf.servlet.UserInitializerFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>RichFacesFilter</filter-name>
  <servlet-name>FacesServlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
  <dispatcher>FORWARD</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>UserInitializerFilter</filter-name>
  <servlet-name>FacesServlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
 </filter-mapping>
 <listener>
  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
 </listener>
 <listener>
  <display-name>ContextLoaderListener</display-name>
  <listener-class>com.afb.dpd.orangemoney.jsf.servlet.ContextLoaderListener</listener-class>
 </listener>
 <listener>
  <display-name>WSServletContextListener</display-name>
  <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>FacesServlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <description>WebResourceManager</description>
  <servlet-name>WebResourceManager</servlet-name>
  <servlet-class>com.afb.dpd.orangemoney.jsf.servlet.WebResourceManager</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>WSServlet</servlet-name>
  <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>FacesServlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FacesServlet</servlet-name>
  <url-pattern>/faces/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WebResourceManager</servlet-name>
  <url-pattern>/PortalResources/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WSServlet</servlet-name>
  <url-pattern>/IB2WService</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <exception-type>javax.faces.application.ViewExpiredException</exception-type>
  <location>/views/jsp/error.jsp</location>
 </error-page>
 
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
